/* header start */
header{
    min-width: 1200px;
}
.header-main{
    margin: 0 0 15px 0;
    background: #fff;
}
.top-d{
    height: 30px;
    width: 1200px;
    margin: 0 auto;
    line-height: 30px;
    color: #AAAAAA;
}
.top{
    width: 1200px;
    margin: 0 auto 15px;
   
}
.nav{
    background: #44B549;
    height: 50px;
}
.nav ul{
    width: 1200px;
    margin: 0 auto;
}
.nav li.on{
    background: #019C08;
}
.nav li{
    float: left;
    width: 150px;
    height: 50px;
}
.nav a {
    display: block;
    font-size: 20px;
    line-height: 50px;
    text-align:center;
    color: #fff;
    
}
.nav a:hover{
    background: #019C08;
}
/* header end */

/* footer start */
.footer{
    min-width: 1200px;
    margin-top: 30px;
    border-top: 5px solid #019C08;
}
.footer footer{
    width: 1200px;
    text-align: center;
    margin: 30px auto;
}
/* footer start */
