/* header start */
header{
    min-width: 1200px;
}
.header-main{
    margin: 0 0 15px 0;
    background: #fff;
}
.top-d{
    height: 30px;
    width: 1200px;
    margin: 0 auto;
    line-height: 30px;
    color: #AAAAAA;
}
.top-d .login_and_register{
    float: right;
}
.top{
    width: 1200px;
    margin: 0 auto 15px;
   
}
.nav{
    background: #44B549;
    height: 50px;
}
.nav ul{
    width: 1200px;
    margin: 0 auto;
}
.nav li.on{
    background: #019C08;
}
.nav li{
    float: left;
    width: 150px;
    height: 50px;
}
.nav a {
    display: block;
    font-size: 20px;
    line-height: 50px;
    text-align:center;
    color: #fff;
    
}
.nav a:hover{
    background: #019C08;
}
/* header end */
/* login start */
.login-box{
    display: none;
}
.sign-up-bg{
    position: fixed;
    background: #000;
    opacity: .3;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    z-index: 9998;
}
.sign-up{
    border-radius: 5px;
    position: fixed;
    background-color: #fff;
    top: 30%;
    left: 50%;
    margin-left: -165px;
    width: 330px;
    box-shadow: 5px 5px 5px rgba(10, 9, 9, 0.44);
    z-index: 10000;
  }
  
  .sign-up-close{
    color: #aaa;
    margin-top: 10px;
    float: right;
    font-size: 22px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
  }
  .sign-up-title::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: #c4e17f;
    border-radius: 5px 5px 0 0;
    background-image:linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4); ;
  }
  .sign-up-title{
    color: #aaa;
    padding-top:30px; 
    padding-bottom:30px; 
    text-align: center;
    font: 36px "simsun"; 
  }
  .sign-up-input{
    margin-left:25px;
    margin-bottom: 20px; 
    width: 280px;
    height: 50px;
    box-sizing: border-box;
    padding: 0 15px 2px;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    box-shadow: inset 0 -2px #ebebeb;
  }
  .sign-up-button{
    background-color: #F0776C;
    margin-left:25px;
    margin-bottom: 20px; 
    width: 280px;
    height: 50px;
    border: 2px solid #D76B61;
    border-radius: 4px;
    box-shadow: inset 0 -2px #D76B61;
    color: #fff;
  }
  
/* login end*/
/* footer start */
.footer{
    min-width: 1200px;
    margin-top: 30px;
    border-top: 5px solid #019C08;
}
.footer footer{
    width: 1200px;
    text-align: center;
    margin: 30px auto;
}
/* footer start */
