/* index.html css stylesheet */
/* header start */
header{
    min-width: 1200px;
}
.header-main{
    margin: 0 0 15px 0;
    background: #fff;
}
.top-d{
    height: 30px;
    width: 1200px;
    margin: 0 auto;
    line-height: 30px;
    color: #AAAAAA;
}
.top{
    width: 1200px;
    margin: 0 auto 15px;
   
}
.nav{
    background: #44B549;
    height: 50px;
}
.nav ul{
    width: 1200px;
    margin: 0 auto;
}
.nav li.on{
    background: #019C08;
}
.nav li{
    float: left;
    font-size: 20px;
    line-height: 50px;
    text-align:center;
    width: 150px;
    cursor: pointer;
}
.nav li:hover{
    background: #019C08;
}
header a,header a:hover{
    color: white;
}

/* header end */
.main {
    width: 1200px;
    margin: 0 auto;
}

/* banner start */
.slider-banner {
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    width: 100%;
}

.slider-banner .left-c {
    background: white;
    box-sizing: border-box;
    width: 430px;
    padding: 10px 20px;
    
}
.slider-banner .right-c {
    background: white;
    width: 750px;
    height: 328px;
    overflow: hidden;
    position: relative;
}
.slider-banner .banner-imgs {
    position: absolute;
    left: 0;
}
.slider-banner .banner-imgs li{
    float: left;
}
.slider-banner .banner-imgs li img{
    height: 328px;
    widows: 750px;
}
.slider-banner .left-c ul{
    border-bottom: 1px solid #eee;
}
.slider-banner .left-c li {
    padding: 9px 0;
    width: 390px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article li:not(:last-child){
    border-bottom: 1px solid #eee;
}
.slider-banner .banner-inds{
    position: absolute;
    bottom: 20px;
    left: 50%;
}
.slider-banner .banner-inds>li{
    cursor: pointer;
    float: left;
    margin:0 10px 0 0;
    height: 12px;
    width: 12px;
    border-radius: 6px; 
    background: #fff
}
.slider-banner .banner-inds>li.hover{
    background: #4EA2E8;
}

.slider-banner .btn{
    height: 60px;
    width: 30px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    background: #000;
    opacity: .25;
    position: absolute;
    top: 134px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
}
.slider-banner .left-btn{
    left: 10px;
}
.slider-banner .right-btn{
    right: 10px;
}
.slider-banner .btn:hover{
    opacity: .5;
}
/* banner end */

/* floor common start */
.floor {
    min-height: 300px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px 20px;
    background: #fff;
    margin: 20px 0 0 0;
}

.f-top {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #EEEEEE;
}

.f-top>span {
    color: #44B549;
    font-size: 20px;
    border-bottom: 3px solid #44B549;
}
/* floor common end */

/* 花卉大全 多肉植物 start */
.flower-list {
    width: 48%;
}

.flower-img {
    width: 50%
}

.flower-list ul {
    width: 50%;
    border-bottom: 1px solid #eee;
}

.flower-list li {
    padding: 9px 0;
    float: left;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flower-img ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flower-img li {
    margin: 7px 0 0 0;
    width: 140px;
    height: 140px;
    position: relative;
    overflow: hidden;
}

.flower-img img {
    width: 140px;
    height: 140px;
    transition: 1s;
    cursor: pointer;
}

.flower-img img:hover {
    transform: scale(1.1);
}

.flower-img>ul>li p {
    cursor: pointer;
    position: absolute;
    background: #000;
    bottom: 5px;
    left: 8px;
    color: #fff;
    padding: 3px;
}

/* 花卉大全 多肉植物 end */

/* 百花图谱 start */
.flex-box {
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-d {
    margin: 20px 0 0 0;
    width: 220px;
    overflow: hidden;
    position: relative;
}

.big-img {
    width: 455px;
    overflow: hidden;
}

.flex-d img {
    width: 220px;
    height: 300px;
    transition: 1s;
}

.flex-d img.big-img {
    width: 455px;
}

.flex-d img:hover {
    transform: scale(1.1);
}

.flex-d p {
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
    height: 100px;
    box-sizing: border-box;
    line-height: 160px;
    font-size: 20px;
    width: inherit;
    margin-top: -100px;
    color: #fff;
    cursor: pointer;
    padding: 0 0 10px 10px;
}
/* 百花图谱 end */

/* 每日精选 start */
.daily-d{
    overflow: hidden;
}
.daily-rec{
    margin: 20px 0px 0px;
    position: relative;
    width: 1680px;

}
.daily-rec li{
   
    width: 220px;
    margin: 0 15px 0 0;
    overflow: hidden;
    float: left;
}
.daily-rec li a{
    display: block;
}
.daily-rec img{
    width: 220px;
}
.daily-rec .title{
    color: #666666;
    padding:10px 0; 
}
.daily-rec .description{
    font-size: 12px;
    color: #999999;
}
/* 每日精选 end */
/* footer start */
.footer{
    min-width: 1200px;
    margin-top: 30px;
    border-top: 5px solid #019C08;
}
.footer footer{
    width: 1200px;
    text-align: center;
    margin: 30px auto;
}
/* footer start */


